Difable-BelajarBerhitungAR/Library/
Difable-BelajarBerhitungAR/Temp/
Difable-BelajarBerhitungAR/Packages/
Difable-BelajarBerhitungAR/obj/
Difable-BelajarBerhitungAR/Logs/
Difable-BelajarBerhitungAR/.vsconfig
*.csproj
Difable-BelajarBerhitungAR/Difable-BelajarBerhitungAR.sln
Difable-BelajarBerhitungAR/.vs/Difable-BelajarBerhitungAR/v16/.suo
Difable-BelajarBerhitungAR/QCAR/somedata16
Difable-BelajarBerhitungAR/UserSettings/EditorUserSettings.asset
